<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Cirrus Flask">
    <title>Blank Page - Cirrus</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body class="app sidebar-mini">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="index.html">CTRL_WatchDog</a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        <li class="app-search">
          <input class="app-search__input" type="search" placeholder="Search">
          <button class="app-search__button"><i class="fa fa-search"></i></button>
        </li>
        <!--Notification Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
          <ul class="app-notification dropdown-menu dropdown-menu-right">
            <li class="app-notification__title">You have 4 new notifications.</li>
            <div class="app-notification__content">
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Lisa sent you a mail</p>
                    <p class="app-notification__meta">2 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Mail server not working</p>
                    <p class="app-notification__meta">5 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Transaction complete</p>
                    <p class="app-notification__meta">2 days ago</p>
                  </div></a></li>
              <div class="app-notification__content">
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Lisa sent you a mail</p>
                      <p class="app-notification__meta">2 min ago</p>
                    </div></a></li>
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Mail server not working</p>
                      <p class="app-notification__meta">5 min ago</p>
                    </div></a></li>
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Transaction complete</p>
                      <p class="app-notification__meta">2 days ago</p>
                    </div></a></li>
              </div>
            </div>
            <li class="app-notification__footer"><a href="#">See all notifications.</a></li>
          </ul>
        </li>
        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
            <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-user fa-lg"></i> Profile</a></li>
            <li><a class="dropdown-item" href="page-login.html"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
	  <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
	          <div>
	            <p class="app-sidebar__user-name">Root</p>
	            <p class="app-sidebar__user-designation">SuperUser</p>
	          </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item" href="dashboard.html"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">UI Elements</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="bootstrap-components.html"><i class="icon fa fa-circle-o"></i> Bootstrap Elements</a></li>
            <li><a class="treeview-item" href="https://fontawesome.com/v4.7.0/icons/" target="_blank" rel="noopener"><i class="icon fa fa-circle-o"></i> Font Icons</a></li>
            <li><a class="treeview-item" href="ui-cards.html"><i class="icon fa fa-circle-o"></i> Cards</a></li>
            <li><a class="treeview-item" href="widgets.html"><i class="icon fa fa-circle-o"></i> Widgets</a></li>
          </ul>
        </li>
        <li><a class="app-menu__item" href="charts.html"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">Charts</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Forms</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="form-components.html"><i class="icon fa fa-circle-o"></i> Form Components</a></li>
            <li><a class="treeview-item" href="form-custom.html"><i class="icon fa fa-circle-o"></i> Custom Components</a></li>
            <li><a class="treeview-item" href="form-samples.html"><i class="icon fa fa-circle-o"></i> Form Samples</a></li>
            <li><a class="treeview-item" href="form-notifications.html"><i class="icon fa fa-circle-o"></i> Form Notifications</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Tables</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="table-basic.html"><i class="icon fa fa-circle-o"></i> Basic Tables</a></li>
            <li><a class="treeview-item" href="table-data-table.html"><i class="icon fa fa-circle-o"></i> Data Tables</a></li>
          </ul>
        </li>
        <li class="treeview is-expanded"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Pages</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item active" href="blank-page.html"><i class="icon fa fa-circle-o"></i> Blank Page</a></li>
            <li><a class="treeview-item" href="page-login.html"><i class="icon fa fa-circle-o"></i> Login Page</a></li>
            <li><a class="treeview-item" href="page-lockscreen.html"><i class="icon fa fa-circle-o"></i> Lockscreen Page</a></li>
            <li><a class="treeview-item" href="page-user.html"><i class="icon fa fa-circle-o"></i> User Page</a></li>
            <li><a class="treeview-item" href="page-invoice.html"><i class="icon fa fa-circle-o"></i> Invoice Page</a></li>
            <li><a class="treeview-item" href="page-calendar.html"><i class="icon fa fa-circle-o"></i> Calendar Page</a></li>
            <li><a class="treeview-item" href="page-mailbox.html"><i class="icon fa fa-circle-o"></i> Mailbox</a></li>
            <li><a class="treeview-item" href="page-error.html"><i class="icon fa fa-circle-o"></i> Error Page</a></li>
          </ul>
        </li>
        <li><a class="app-menu__item" href="docs.html"><i class="app-menu__icon fa fa-file-code-o"></i><span class="app-menu__label">Docs</span></a></li>
      </ul>
    </aside>
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> CTRL_WatchDog Test</h1>
          <p>Monitor path for incoming or deleted files</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">CTRL_WatchDog</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile" style="overflow-y:scroll;height 100px;">
            <div class="tile-body">
            <div>
			          <p class="app-sidebar__user-designation"><p>Server IP: <b>10.100.1.119</b></p></p>
			          <p class="app-sidebar__user-designation"><p>Your IP: <b>10.100.1.115</b></p></p>
			          <p class="app-sidebar__user-designation"><p>Avg Latency: <b><span id="ping-pong"></span>ms</b></p></p>
        </div>
            	  <!--    <h2>Send:</h2>
				    <form id="emit" method="POST" action='#'>
				        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
				        <input type="submit" value="Echo">
				    </form>
				    <form id="broadcast" method="POST" action='#'>
				        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
				        <input type="submit" value="Broadcast">
				    </form>
				    <form id="join" method="POST" action='#'>
				        <input type="text" name="join_room" id="join_room" placeholder="Room Name">
				        <input type="submit" value="Join Room">
				    </form>
				    <form id="leave" method="POST" action='#'>
				        <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
				        <input type="submit" value="Leave Room">
				    </form>
				    <form id="send_room" method="POST" action='#'>
				        <input type="text" name="room_name" id="room_name" placeholder="Room Name">
				        <input type="text" name="room_data" id="room_data" placeholder="Message">
				        <input type="submit" value="Send to Room">
				    </form>
				    <form id="close" method="POST" action="#">
				        <input type="text" name="close_room" id="close_room" placeholder="Room Name">
				        <input type="submit" value="Close Room">
				    </form>
				    <form id="disconnect" method="POST" action="#">
				        <input type="submit" value="Disconnect">
				    </form> -->
				    <h4>Server Messages Received:</h4>
    				<div id="log"></div>

            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Essential javascripts for application to work-->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="static/js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

	<script type="text/javascript" charset="utf-8">
		        $(document).ready(function() {
		            // Use a "/test" namespace.
		            // An application can open a connection on multiple namespaces, and
		            // Socket.IO will multiplex all those connections on a single
		            // physical channel. If you don't care about multiple channels, you
		            // can set the namespace to an empty string.
		            namespace = '/test';

		            // Connect to the Socket.IO server.
		            // The connection URL has the following format, relative to the current page:
		            //     http[s]://<domain>:<port>[/<namespace>]
		            var socket = io(namespace);

		            // Event handler for new connections.
		            // The callback function is invoked when a connection with the
		            // server is established.
		            socket.on('connect', function() {

		            });

		            // Event handler for server sent data.
		            // The callback function is invoked whenever the server emits data
		            // to the client. The data is then displayed in the "Received"
		            // section of the page.
		            socket.on('my_response', function(msg,cb) {
		                $('#log').append('<br>' + $('<div/>').html(msg.timestamp + ': Server Message ' + ': ' + msg.data + '<b><u><font color="#204a87">' + msg.data2 + '</font></u></b>' + msg.data3).html());
		                if (cb)
		                    cb();
		            });

		            // Interval function that tests message latency by sending a "ping"
		            // message. The server then responds with a "pong" message and the
		            // round trip time is measured.
		            var ping_pong_times = [];
		            var start_time;
		            window.setInterval(function() {
		                start_time = (new Date).getTime();
		                socket.emit('my_ping');
		            }, 1000);

		            // Handler for the "pong" message. When the pong is received, the
		            // time from the ping is stored, and the average of the last 30
		            // samples is average and displayed.
		            socket.on('my_pong', function() {
		                var latency = (new Date).getTime() - start_time;
		                ping_pong_times.push(latency);
		                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
		                var sum = 0;
		                for (var i = 0; i < ping_pong_times.length; i++)
		                    sum += ping_pong_times[i];
		                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
		            });

		            // Handlers for the different forms in the page.
		            // These accept data from the user and send it to the server in a
		            // variety of ways
		            $('form#emit').submit(function(event) {
		                socket.emit('my_event', {data: $('#emit_data').val()});
		                return false;
		            });
		            $('form#broadcast').submit(function(event) {
		                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
		                return false;
		            });
		            $('form#join').submit(function(event) {
		                socket.emit('join', {room: $('#join_room').val()});
		                return false;
		            });
		            $('form#leave').submit(function(event) {
		                socket.emit('leave', {room: $('#leave_room').val()});
		                return false;
		            });
		            $('form#send_room').submit(function(event) {
		                socket.emit('my_room_event', {room: $('#room_name').val(), data: $('#room_data').val()});
		                return false;
		            });
		            $('form#close').submit(function(event) {
		                socket.emit('close_room', {room: $('#close_room').val()});
		                return false;
		            });
		            $('form#disconnect').submit(function(event) {
		                socket.emit('disconnect_request');
		                return false;
		            });
		        });
    </script>
  </body>
</html>