{% extends "base.html" %}

{% block content %}
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Welcome to Cirrus</h1>
          <p>DCS Client Support</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Welcome</a></li>
        </ul>
      </div>

<div class="tile mb-4">
	         <div class="page-header">
	           <div class="row">
	             <div class="col-lg-4">
	               <h4 class="mb-3 line-head" id="buttons"><i class="fa fa-dashboard"></i> TPG Interface Test1</h4>
	               <a class="card-link" href="#"> - Test Link</a><br>
	               <a class="card-link" href="#"> - Test Link</a><br>
	               <a class="card-link" href="#"> - Test Link</a><br>
	               <a class="card-link" href="#"> - Test Link</a><br>
	               <a class="card-link" href="#"> - Test Link</a><br>
	             </div>
	             <div class="col-lg-4">
				   <h4 class="mb-3 line-head" id="buttons"><i class="fa fa-dashboard"></i> TPG Interface Test2</h4>
				   <a class="card-link" href="#"> - Test Link</a><br>
				   <a class="card-link" href="#"> - Test Link</a><br>
				   <a class="card-link" href="#"> - Test Link</a><br>
				   <a class="card-link" href="#"> - Test Link</a><br>
				   <a class="card-link" href="#"> - Test Link</a><br>
	             </div>
	           </div>
	         </div>
	         <div class="row">&nbsp;</div>
	         <div class="row">

				<div class="col-lg-4">
					<h4 class="mb-3 line-head" id="buttons"><i class="fa fa-dashboard"></i> TPG Interface Test3</h4>
					<a class="card-link" href="#"> - Test Link</a><br>
					<a class="card-link" href="#"> - Test Link</a><br>
					<a class="card-link" href="#"> - Test Link</a><br>
					<a class="card-link" href="#"> - Test Link</a><br>
					<a class="card-link" href="#"> - Test Link</a><br>
          		</div>


	           <div class="col-lg-4">
					<h4 class="mb-3 line-head" id="buttons"><i class="fa fa-dashboard"></i> TPG Interface Test4</h4>
					<a class="card-link" href="#"> - Test Link</a><br>
					<a class="card-link" href="#"> - Test Link</a><br>
					<a class="card-link" href="#"> - Test Link</a><br>
					<a class="card-link" href="#"> - Test Link</a><br>
					<a class="card-link" href="#"> - Test Link</a><br>
			   </div>

			 </div>


</div>



      </div>


    </main>

{% endblock content %}


