{% extends "base.html" %}


{% block content %}

<main class="app-content">
	<div class="bs-component" style="margin-top: -15px;">
	     <ol class="breadcrumb">
	       <li class="breadcrumb-item"><a href="#">Home</a></li>
	       <li class="breadcrumb-item"><a href="#">Clients</a></li>
	       <li class="breadcrumb-item"><a href="#">TPG Direct</a></li>
	       <li class="breadcrumb-item active">Dashboard</li>
	     </ol>
	</div>

    <div>

    </div>

	 <!-- Typography-->
	      <div class="tile mb-4">
	        <div class="row">
	          <div class="col-lg-12">
	            <div class="page-header">
	              <h4><i class="fa fa-edit"></i>  TPG Direct - Farmer's Opt-Out (#8061)</h4>
	            </div>
	          </div>
	        </div>







			<br>
	        <!-- Headings-->
	        <div class="row">
	        <div class="col-md-9">
			          <div class="tile">
			            <h3 class="tile-title">TPG Settings</h3>
			            <div class="tile-body">
			              <form action="{{ url_for('main.tpgdatabasesettings') }}" method="post" class="form-horizontal">
			                <div class="form-group row">
			                  <label class="control-label col-md-3">Database Server:</label>
			                  <div class="col-md-8">
			                    <input class="form-control" name="tpg_db_server" type="text" value="{{tpg_db_server}}"><small class="form-text text-muted" id="fileHelp">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
			                  </div>
			                </div>
			                <div class="form-group row">
			                  <label class="control-label col-md-3">Database Username:</label>
			                  <div class="col-md-8">
			                    <input class="form-control" name="tpg_db_username" type="text" value="{{tpg_db_username}}"><small class="form-text text-muted" id="fileHelp">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
			                  </div>
			                </div>
			                <div class="form-group row">
							  <label class="control-label col-md-3">Database Password:</label>
							  <div class="col-md-8">
							    <input class="form-control" name="tpg_db_password" type="text" value="{{tpg_db_password}}"><small class="form-text text-muted" id="fileHelp">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
							  </div>
							</div>


						<div class="tile-footer">
									              <div class="row">
									                <div class="col-md-12">
									                  <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Update TPG Settings</button>
									                </div>
									              </div>
			            </div>
			              </form>
			            </div>

			          </div>
        </div>

				<div class="col-lg-3">
					            <div class="bs-component">
					              <div class="tile p-0">
								  	            <h6 class="card-header">File Loading</h6>
								  	            <div class="tile-body">
								  	              <ul class="nav nav-tabs">
								  	                <li class="nav-item"><a class="nav-link disabled" href="#"><i class="fa fa-square-o fa-fw"></i> Check Files Paths</a></li>
								  	                <li class="nav-item"><a class="nav-link disabled" href="#"><i class="fa fa-square-o fa-fw"></i> Upload Pdfs</a></li>
								  	                <li class="nav-item"><a class="nav-link disabled" href="#"><i class="fa fa-square-o fa-fw"></i> Execute Batching Scripts</a></li>
								  	                <li class="nav-item"><a class="nav-link disabled" href="#"><i class="fa fa-square-o fa-fw"></i> Execute OCR Scripts</a></li>
								  	                <li class="nav-item"><a class="nav-link disabled" href="#"><i class="fa fa-square-o fa-fw"></i> View Batches</a></li>
								  	              </ul>
								  	            </div>

					          </div>
					            </div>

					            <div class="bs-component">
													              <div class="tile p-0">
																  	            <h6 class="card-header">Settings</h6>
																  	            <div class="tile-body">
																  	              <ul class="nav nav-tabs">
																  	                <li class="nav-item active"><a class="nav-link" href="/tpg-settings.html"><i class="fa fa-check-square-o fa-fw"></i> TPG Path Settings</a></li>
																					<li class="nav-item active"><a class="nav-link" href="/tpg-settings.html"><i class="fa fa-square-o fa-fw"></i> TPG Database Settings</a></li>
																  	              </ul>
																  	            </div>

													          </div>
					            </div>

					          </div>


	        </div>

	        <!-- Blockquotes-->

<div id="log"></div>
      </div>



    </main>


<script type="text/javascript" src="static/js/plugins/dropzone.js"></script>

{% endblock content %}


